.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Launch configs
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Built files
*.class
